@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#content {
    padding: 10px;
}

#quest1 { margin-bottom: 20px; }
#quest2 { margin-bottom: 20px; }
#quest3 { margin-bottom: 20px; }
#quest4 { margin-bottom: 20px; }
#quest5 { margin-bottom: 20px; }